[submodule "external/packetmachine"]
	path = external/packetmachine
	url = https://github.com/m-mizutani/packetmachine.git
[submodule "external/libfluent"]
	path = external/libfluent
	url = https://github.com/m-mizutani/libfluent.git
[submodule "external/cpp-toolbox"]
	path = external/cpp-toolbox
	url = https://github.com/m-mizutani/cpp-toolbox
